@import "tailwindcss";
@layer components {
    .glowing-border {
        @apply rounded-lg;
        outline: none;
        border: 3px solid rgba(52, 211, 153, 0.3);
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }
    .glowing-border:hover {
        border-color: rgba(52, 211, 153, 0.8);
        box-shadow: 0 0 15px rgba(52, 211, 153, 0.8);
    }
}